<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofund"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".user.torneo_estud.Tabla_final_puntos"
            android:exported="false" />
        <activity
            android:name=".user.torneo_estud.Game_torneo_silabassimples_estud"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".user.torneo_estud.Game_torneo_vocal_estud"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".user.torneo_estud.Pre_torneo_estud"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.Aestudiantes"
            android:exported="false" />
        <activity
            android:name=".user.Ueligirnivel"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_sopaletras_basico"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_construir_oraciones_simples"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_silabas_CTI"
            android:exported="false" />
        <activity
            android:name=".admin.game.PruebaJuego_deletreo_simple"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_silabasimple"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_abecedario"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.game.PruebaJuego_vocal"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".admin.Apruebas"
            android:exported="false" />
        <activity
            android:name=".user.Evocales_game"
            android:exported="false" />
        <activity
            android:name=".admin.Abuscador"
            android:exported="false" />
        <activity
            android:name=".admin.Areportes"
            android:exported="false" />
        <activity
            android:name=".admin.Atorneo"
            android:exported="false" />
        <activity
            android:name=".admin.Ademo"
            android:exported="false" />
        <activity
            android:name=".admin.Adocentes"
            android:exported="false" />
        <activity
            android:name=".admin.Agame"
            android:exported="false" />
        <activity
            android:name=".admin.Ausuarios"
            android:exported="false" />
        <activity
            android:name=".admin.Ainicio"
            android:exported="false" />
        <activity
            android:name=".Alogin"
            android:exported="false" />
        <activity
            android:name=".user.registrarme"
            android:exported="false" />
        <activity
            android:name=".docente.Dlogin"
            android:exported="false" />
        <activity
            android:name=".user.inicio"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>